.button-violet {
	background-color: var(--violet-primary);
	color: var(--color-white);
	font-size: 18px;
	border: none;
	border-radius: 8px;
	min-height: 60px;
	width: 100%;
	z-index: 1;

	&:disabled {
		background-color: rgba(228, 228, 228, 1);
		color: rgba(0, 0, 0, 0.2);
	}

	&:active {
		background-color: var(--violet-active);
	}

	&:hover,
	&:active,
	&:focus-visible,
	&:focus,
	&:focus-within {
		border: none;
		outline: none;
	}
}

.button-invert {
	background-color: var(--color-white);
	color: var(--violet-primary);
	font-size: 18px;
	border: none;
	border-radius: 8px;
	min-height: 60px;
	width: 100%;
	z-index: 2;

	&:disabled {
		background-color: rgba(228, 228, 228, 1);
		color: rgba(0, 0, 0, 0.2);
	}

	&:hover,
	&:active,
	&:focus-visible,
	&:focus,
	&:focus-within {
		border: none;
		outline: none;
	}
}

.back-button {
	position: absolute;
	top: 20px;
	left: 0;
	width: 44px;
	height: 44px;
	background-color: transparent;
	background: url('shared/assets/icons/arrow_touch.svg');
	z-index: 2;

	&:hover {
		border: none;
	}

	&:focus-visible {
		outline: none;
	}
}
